:root {
    --link-font-weight: 500;
}

@font-face {
    font-family: bebas;
    src: url(bebas-neue-v2-latin-regular.woff2);
  }

  .container {
    max-width: 100% !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(max(50px,(100vw - 1414px) / 2));
    padding-right: calc(max(50px,(100vw - 1414px) / 2));
    margin-bottom: 0rem !important;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

@media (max-width: 768px) {
    .container {
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
      padding-left: calc(max(30px,(100vw - 1414px) / 2));
      padding-right: calc(max(30px,(100vw - 1414px) / 2));
      }
  }

.container.lead-form-block,
.container.msys-wizard-block {
  max-width: 100% !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(max(8px,(100vw - 1024px) / 2));
  padding-right: calc(max(8px,(100vw - 1024px) / 2));
}

h1, h2, h3 {
    white-space: normal;
    font-family: 'bebas', 'Roboto', sans-serif;
}

.page-header {
    border-color: var(--background-color) !important;
    border-bottom: 1px solid;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
}

.page-header .container {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    height: 100px;
    text-transform: uppercase;
    font-size: 19px;
    font-family: 'bebas', sans-serif;
}


.page-header img {
    height: 72px;
    width: 384px;
}

@media (max-width: 1200px) {
    .page-header img {
        height: 47px;
        width: 250px;
    }    
}

@media (max-width: 768px) {
    .page-header img {
        height: 32px;
        width: 148px;
    }    
}

.template-list-block h2, .related-pages-block h2, .text-with-media-list-block h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    line-height: 1.4;
    font-weight: 900;
}
.template-list-block h3, .related-pages-block h3, .text-with-media-list-block h3 {
    font-weight: 400;
}
.template-list-block h3 + h2, .related-pages-block h3 + h2, .text-with-media-list-block h3 + h2 {
    margin-top: 4px;
}
.rs-heroslider-overlay {
    background: linear-gradient(to top, rgb(27 40 37 / 25%) 0, rgba(63, 71, 86, 0.05) 75%);
}
.rs-heroslider-overlay h1 {
    color: #ffffff;
    font-weight: 900;
    font-size: 2.3rem;
}
.rs-heroslider-overlay h2 {
    color: #ffffff;
    font-weight: 400;
    font-size: 1.4rem;
}
@media (max-width: 768px) {
    .rs-heroslider-overlay h1 {
        font-size: 1.6rem;
    }
    
    .rs-heroslider-overlay h2 {
        font-size: 1rem;
    }
        
  .rs-heroslider-overlay p {
    font-size: 1rem !important;
  }
}
@media (max-width: 512px) {
  .rs-heroslider-overlay p {
    visibility: none;
    }
}
.rs-heroslider-overlay button {
    padding: 12px 15px !important;
    transition: ease-in-out .5s;
}
.rs-heroslider-overlay button:hover {
    background: #ffffff;
    color: #53a25c;
    transition: ease-in-out .5s;
}
.rs-teaser {
    height: 100%;
    padding: 15px;
    border-radius: 0px;
}
.rs-teaser:hover a {
    color: #53a25c !important;
    transition: ease-in-out .5s;
}
.rs-listitem.rs-teaser {
    padding: 0;
    background-color: rgba(2, 155, 225, 0.1);
}

.rs-teaser .rs-teaser-image {
    width: 40%;
}
.rs-griditem.rs-teaser .rs-teaser-image, .rs-textwithmedialist.rs-teaser .rs-teaser-image {
    width: auto;
    margin-left: -15px;
    margin-top: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
}
div.rs-griditem.rs-teaser .cta-button {
    display: none;
  }
  
  @media (min-width: 768px) {
    div.rs-griditem.rs-teaser .cta-button {
      display: block;
    }
  }
.rs-teaser .rs-teaser-image img {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.rs-textwithmedialist.rs-teaser .rs-teaser-body {
    align-self: end;
}
.rs-textwithmedialist.rs-teaser .rs-teaser-body h3 {
    font-weight: 400;
    font-size: 1.1rem;
}

div.rs-textwithmedialist.bg-\[--highlighted-background-color\] {
    border: var(--headline-text-color) 1px solid;
    border-radius: 8px;
}

.rs-listitem.rs-teaser .rs-teaser-body {
    padding: 15px;
    margin-left: 0;
}
.rs-teaser .rs-teaser-body-content {
    display: flex;
    flex-direction: column;
}
.rs-teaser .rs-teaser-body-content h3, .rs-teaser .rs-teaser-body-content h4 {
    font-size: 1.1rem;
    line-height: 1.4rem;
    flex-grow: 1;
}
.rs-teaser .rs-teaser-body-content .text-sm {
    line-height: 1.5rem;
}
.rs-griditem.rs-teaser .rs-teaser-body-content > h4, .rs-griditem.rs-teaser .rs-teaser-body-content > div {
    -webkit-line-clamp: 5;
}
.rs-teaser .rs-teaser-body a {
    margin-top: 10px;
    margin-right: 0;
    color: #333333;
    font-size: .95rem;
}
.rs-teaser .rs-teaser-body a:hover {
    color: #53a25c;
}
.rs-teaser .rs-teaser-body button {
    background: none;
    font-weight: 700;
    font-size: 1rem;
    color: var(--text-color);
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid var(--text-color);
    box-shadow: none;
}
.rs-teaser:hover .rs-teaser-body button {
    background: var(--cta-color);
    border-color: var(--cta-color);
    color: var(--cta-text-color);
}

nav.table-of-contents-block .grid {
    grid-template-rows: 1fr;
}

nav.table-of-contents-block a {
    text-decoration: underline;
}

.cta-button {
    padding: 10px 10px;
    font-family: 'bebas', 'Roboto', sans-serif;
}
