:root {
    --link-font-weight: 500;
}

@font-face {
    font-family: Assistant;
    src: url(assistant.woff2);
  }

  .container {
    max-width: 100% !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(max(8px,(100vw - 1200px) / 2));
    padding-right: calc(max(8px,(100vw - 1200px) / 2));
    margin-bottom: 0rem !important;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

@media (min-width: 768px) {
    .container {
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
    }
  }

.container.lead-form-block,
.container.msys-wizard-block {
  max-width: 100% !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(max(8px,(100vw - 1024px) / 2));
  padding-right: calc(max(8px,(100vw - 1024px) / 2));
}

.container.msys-wizard-block {
    background-color: white;
}

section.text-with-media-list-block, nav.bread-crumbs-block, nav.table-of-contents-block,
section.msys-wizard-block {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

h1, h2, h3 {
    white-space: normal;
    font-family: 'Assistant', 'Roboto', sans-serif;
}

.template-list-block h2, .related-pages-block h2, .text-with-media-list-block h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    line-height: 1.4;
    font-weight: 900;
}
.template-list-block h3, .related-pages-block h3, .text-with-media-list-block h3 {
    font-weight: 400;
}
.template-list-block h3 + h2, .related-pages-block h3 + h2, .text-with-media-list-block h3 + h2 {
    margin-top: 4px;
}
.rs-heroslider-overlay h1 {
    color: #ffffff;
    font-weight: 900;
    font-size: 2.3rem;
}
.rs-heroslider-overlay h2 {
    color: #ffffff;
    font-weight: 400;
    font-size: 1.4rem;
}
.rs-heroslider-overlay button {
    padding: 12px 15px !important;
    transition: ease-in-out .5s;
}
.rs-heroslider-overlay button:hover {
    background: #ffffff;
    color: #53a25c;
    transition: ease-in-out .5s;
}
.rs-teaser {
    height: 100%;
    padding: 15px;
    border-radius: 0px;
}
.rs-teaser:hover a {
    color: #53a25c !important;
    transition: ease-in-out .5s;
}
.rs-listitem.rs-teaser {
    padding: 0;
}
.rs-teaser .rs-teaser-image {
    width: 40%;
}
.rs-griditem.rs-teaser {
    background-color: #ffffff11;
    border-width: 0px;
}
.rs-griditem.rs-teaser .rs-teaser-image, .rs-textwithmedialist.rs-teaser .rs-teaser-image {
    width: auto;
    margin-left: -15px;
    margin-top: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
}
.rs-teaser .rs-teaser-image img {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.rs-textwithmedialist.rs-teaser .rs-teaser-body {
    align-self: end;
}
.rs-textwithmedialist.rs-teaser .rs-teaser-body h3 {
    font-weight: 400;
    font-size: 1.1rem;
}
.rs-listitem.rs-teaser .rs-teaser-body {
    padding: 15px;
    margin-left: 0;
}
.rs-teaser .rs-teaser-body-content {
    display: flex;
    flex-direction: column;
}
.rs-teaser .rs-teaser-body-content h3, .rs-teaser .rs-teaser-body-content h4 {
    font-size: 1.1rem;
    line-height: 1.4rem;
    flex-grow: 1;
}
.rs-teaser .rs-teaser-body-content .text-sm {
    line-height: 1.5rem;
}
.rs-griditem.rs-teaser .rs-teaser-body-content > h4, .rs-griditem.rs-teaser .rs-teaser-body-content > div {
    -webkit-line-clamp: 5;
}
.rs-teaser .rs-teaser-body a {
    margin-top: 10px;
    margin-right: 0;
    color: #333333;
    font-size: .95rem;
}
.rs-teaser .rs-teaser-body a:hover {
    color: #53a25c;
}
.rs-teaser .rs-teaser-body button {
    background: none;
    font-weight: 700;
    font-size: 1rem;
    color: var(--text-color);
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid var(--text-color);
    box-shadow: none;
}
.rs-teaser:hover .rs-teaser-body button {
    background: var(--cta-color);
    border-color: var(--cta-color);
    color: var(--cta-text-color);
}

nav.table-of-contents-block .grid {
    grid-template-rows: 1fr;
}

nav.table-of-contents-block a {
    text-decoration: underline;
}
