.container {
    margin-bottom: 1rem !important;
}

.page-header.rs-header-onlyLogo {
  position: relative;
}

.page-header .container {
    margin-bottom: 0rem !important;
}

h1, h2, h3 {
    white-space: normal;
}

@media (max-width: 768px) {
  h1, h2 {
      font-size: 1.25rem;
      padding-bottom: 0px;
  }
  h3 {
      font-size: 1rem;
      padding-bottom: 0px;
  }
}

.template-list-block h2, .related-pages-block h2, .text-with-media-list-block h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
    line-height: 1.4;
    font-weight: 900;
}
.template-list-block h3, .related-pages-block h3, .text-with-media-list-block h3 {
    font-weight: 400;
}
.template-list-block h3 + h2, .related-pages-block h3 + h2, .text-with-media-list-block h3 + h2 {
    margin-top: 4px;
}
/* fade out too large teasers */
section.text-with-media-list-block.rs-highlighted .rs-teaser-body, .rs-purpose-teaser .rs-teaser-body{
    max-height: 27vh;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 20vh, rgba(0, 0, 0, 0));
  
    overflow: hidden;
  }
  
  @media (max-width: 768px) {
    section.text-with-media-list-block .rs-purpose-trust {
      p, blockquote, img {
        font-display: none;
      }
    }
  }
div.hero-slider-block {
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem !important;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--secondary-color);
    text-align: center;
}
.rs-heroslider-overlay {
    background: linear-gradient(to top, rgb(27 40 37 / 25%) 0, rgba(63, 71, 86, 0.05) 75%);
}
.rs-heroslider-overlay h1 {
    color: #ffffff;
    font-weight: 900;
    font-size: 2.3rem;
}

.rs-heroslider-overlay h2 {
    color: #ffffff;
    font-weight: 400;
    font-size: 1.4rem;
}
.rs-heroslider-overlay p {
  font-size: 1.25rem;
}
@media (max-width: 768px) {
    .rs-heroslider-overlay h1 {
        font-size: 1.6rem;
    }
    
    .rs-heroslider-overlay h2 {
        font-size: 1rem;
    }
        
  .rs-heroslider-overlay p {
    font-size: 1rem !important;
  }
}
.rs-heroslider-overlay button {
    padding: 12px 15px !important;
    transition: ease-in-out .5s;
}
.rs-heroslider-overlay button:hover {
    background: #ffffff;
    color: #53a25c;
    transition: ease-in-out .5s;
}

@media (max-width: 768px) {
  div.rs-hero-slider-container {
    height: 12rem !important;
  }
  .rs-heroslider-overlay p {
      display: none;
  }
}

@media (min-width: 768px) {
  div.rs-hero-slider-container {
    height: 320px !important;
  }
}
.rs-teaser {
    height: 100%;
    padding: 15px;
    border-radius: 10px;
}
@media (max-width:512px) {
    .template-list-block .rs-teaser {
        padding: 0px;
    }    
}

.rs-teaser:hover a {
    color: #53a25c !important;
    transition: ease-in-out .5s;
}
.rs-listitem.rs-teaser {
    padding: 0;
}
.rs-teaser .rs-teaser-image {
    width: 40%;
}

.rs-template-list-slider div.will-change-transform {
  overflow: visible;
}

.rs-griditem.rs-teaser .rs-teaser-image, .rs-textwithmedialist.rs-teaser .rs-teaser-image {
    width: auto;
    margin-left: -15px;
    margin-top: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
}
div.rs-griditem.rs-teaser .cta-button {
    display: none;
  }
  
  @media (min-width: 768px) {
    div.rs-griditem.rs-teaser .cta-button {
      display: block;
    }
  }

@media (max-width: 512px) {
    div.rs-griditem.rs-teaser h4 {
        font-size: 1rem;
    }
}
.rs-teaser .rs-teaser-image img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.rs-textwithmedialist.rs-teaser .rs-teaser-body {
    align-self: end;
}
.rs-textwithmedialist.rs-teaser .rs-teaser-body h3 {
    font-weight: 500;
    font-size: 1.25rem;
}
.rs-listitem.rs-teaser .rs-teaser-body {
    padding: 15px;
    margin-left: 0;
}
.rs-teaser .rs-teaser-body-content {
    display: flex;
    flex-direction: column;
}
.rs-teaser .rs-teaser-body-content h3, .rs-teaser .rs-teaser-body-content h4 {
    font-size: 1.1rem;
    line-height: 1.4rem;
    flex-grow: 1;
}
.rs-teaser .rs-teaser-body-content .text-sm {
    line-height: 1.5rem;
}
.rs-griditem.rs-teaser .rs-teaser-body-content > h4, .rs-griditem.rs-teaser .rs-teaser-body-content > div {
    -webkit-line-clamp: 5;
}
.rs-teaser .rs-teaser-body a {
    margin-top: 10px;
    margin-right: 0;
    color: #333333;
    font-size: .95rem;
}
.rs-teaser .rs-teaser-body a:hover {
    color: #53a25c;
}
.rs-teaser .rs-teaser-body button {
    background: none;
    font-weight: 700;
    font-size: 1rem;
    color: var(--text-color);
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid var(--text-color);
    box-shadow: none;
}
.rs-teaser:hover .rs-teaser-body button {
    background: var(--cta-color);
    border-color: var(--cta-color);
    color: var(--cta-text-color);
}

/* fade out too large teasers */
section.text-with-media-list-block.rs-highlighted .rs-teaser-body, .rs-purpose-teaser .rs-teaser-body{
  max-height: 27vh;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 20vh, rgba(0, 0, 0, 0));

  overflow: hidden;
}

@media (max-width: 768px) {
  section.text-with-media-list-block .rs-purpose-trust {
    p, blockquote, img, h4, h5, hr {
      display: none;
    }
    .mt-2 {
      margin-top: 0px !important;
    }
    gap: 0px;
  }
}

nav.table-of-contents-block .grid {
    grid-template-rows: 1fr;
}

nav.table-of-contents-block a {
    text-decoration: underline;
}


.rs-relatedpages-tile-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .rs-relatedpages-tile figcaption {
    text-transform: uppercase;
    font-size: 1rem;
  }
  
  .rs-relatedpages-tile figcaption:hover {
    background: var(--cta-color);
  }
  
  @media (min-width: 768px) {
    .rs-relatedpages-tile-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  
    .rs-relatedpages-tile figcaption {
      font-size: 1.25rem;
  }
  }
  
  @media (min-width: 1024px) {
    .rs-relatedpages-tile-container {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  
    .rs-relatedpages-tile figcaption {
      font-size: 1rem;
    }
  }
  
  .rs-relatedpages-tile {
      margin-bottom: 16px;
  }

  .rs-ddmenu-item {
    font-size: 1.5rem;
    line-height: 2rem;
  }

.payload-richtext img{
    margin-left: auto;
    margin-right: auto;
  }
  section.rs-searchbar {
    max-width: 100% !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(max(8px, (100vw - 800px) / 2));
    padding-right: calc(max(8px, (100vw - 800px) / 2));
    margin-bottom: 0.5rem !important;
    margin-top: -1rem !important;
    padding-bottom: 0rem !important;
    padding-top: 0rem !important;
    position: relative;
    background: transparent;
  }
  
  .hero-slider-block + section.rs-searchbar {
    max-width: 100% !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(max(8px, (100vw - 800px) / 2));
    padding-right: calc(max(8px, (100vw - 800px) / 2));
    margin-bottom: -90px !important;
    margin-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-top: 0.5rem !important;
    position: relative;
    top: -80px;
    background: transparent;;
  }
  .rs-searchbar .absolute {
    margin-top: 4px;
    max-height: 60vh;
  }
  .rs-searchbar div.space-y-1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .rs-searchbar h3 {
    font-size: 1.25rem;
  }
  
  @media (max-width: 768px) {
      blockquote, .rs-searchbar blockquote {
          font-size: 14px;
          line-height: 20px;
      }
      .rs-searchbar h3, p {
          font-size: 0.875rem;
      }
      .rs-searchbar div.space-y-1 {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
  }
  
  @media (max-width: 768px) {
    .hero-slider-block + section.rs-searchbar {
      margin-bottom: -60px !important;
      padding-bottom: 0.5rem !important;
      padding-top: 0.5rem !important;
      position: relative;
      top: -54px;
    }
  
    section.rs-searchbar {
      margin-bottom: 0.1rem !important;
      margin-top: 0rem !important;
    }
  }


.rs-relatedpages-icon-background {
  width: 96px;
  height: 64px;
  background-color: var(--cta-color);
}

@media (min-width: 1024px) {
  .rs-relatedpages-icon-background {
    width: 192px !important;
    height: 96px !important;
  }
  .rs-relatedpages-icon-container span {
    font-size: 1.25rem;
  }
}

.rs-relatedpages-icon {
  width: 100%;
  height: 100%;
  color: var(--cta-text-color);
  stroke-width: 1.5px;
  padding: 2px;
}

@media (min-width: 768px) {
  .related-pages-block .rs-carousel-item {
    flex-basis: 20%;
  }
}
@media (min-width: 1024px) {
  .related-pages-block .rs-carousel-item {
    flex-basis: 20%;
  }
}
/* hide the tnc link */
.page-footer {
  a:nth-of-type(3) {
      display:none;
  }
}