/* Haru Theme Overrides */

@font-face {
    font-family: bebas;
    src: url(bebas-neue-v2-latin-regular.woff2);
}

.container {
    padding-left: calc(max(50px,(100vw - 1414px) / 2));
    padding-right: calc(max(50px,(100vw - 1414px) / 2));
}

@media (max-width: 768px) {
    .container {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        padding-left: calc(max(30px,(100vw - 1414px) / 2));
        padding-right: calc(max(30px,(100vw - 1414px) / 2));
    }
}

h1, h2, h3 {
    white-space: normal;
    font-family: 'bebas', 'Roboto', sans-serif;
}

.page-header {
    border-color: var(--background-color) !important;
    border-bottom: 1px solid;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
}

.page-header.rs-header-onlyLogo {
    position: relative;
}

.page-header .container {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    height: 100px;
    text-transform: uppercase;
}