/* Layout1 Theme Overrides */

.container {
    padding-left: calc(max(8px,(100vw - 1200px) / 2));
    padding-right: calc(max(8px,(100vw - 1200px) / 2));
    padding-bottom: 0rem;
    padding-top: 0rem;
}

body {
    font-size: 0.875rem !important;
}

.cta-button {
    font-size: 1rem !important;
}

@media (min-width: 768px) {
    .container {
        padding-bottom: 1.5rem;
        padding-top: 1rem;
    }

    body {
        font-size: 1rem !important;
    }
}

.container.lead-form-block {
    padding-top: 1rem !important;
}